@model  ASP_reddit.Models.RedditList
@{

    ViewBag.Title = "View Reddit";
}



<section id="background">
    <div class="container">
        <h5 class="section-title h1">PROGRAMMING NEW</h5>
        @foreach (ASP_reddit.Models.RedditSubject s in Model.ListTitle)
        {
            <div class="col-md-4">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href=@s.Url +"" target="_blank">@System.Web.HttpUtility.HtmlDecode(@s.Name)</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>